
#itemImage {
	height: 200px;
	width: 150px;
}

.display {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

table {
	border-spacing: 10px;
}

#productName {
	text-align: center;
	font-weight: bold;
}

#productPrice {
	text-align: center;
}

.displayCategory ul li {
	font-size: 10px;
}
.btn-group button {
	background-color: #4CAF50; /* Green background */
	border: 1px solid green; /* Green border */
	color: white; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	width: 50%; /* Set a width if needed */
	display: block; /* Make the buttons appear below each other */
  }
  
  .btn-group button:not(:last-child) {
	border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
	background-color: #3e8e41;
  }